{% extends 'base.html' %}

{% block content %}
    <h1>Home</h1>
    {% if user.is_authenticated %}
        <br/>
        <form method="get">
            {% csrf_token %}
            <p>Rechercher un fromage</p>
            <input type="text" name="q" placeholder="search">
            <input type="submit" value="rechercher"/>
        </form> 
        
            <ul>
            {% for wine in wines %}   
                    <li><a href="{% url 'wine-product' id=wine.id %}"> {{ wine.name }}, {{ wine.appellation }}, {{ wine.color }} </a></li>
            {% endfor %} 
            </ul>  
            <br/> 
            <ul>
            {% for cheese in cheeses %}   
                    <li><a href="{% url 'cheese-product' id=cheese.id %}"> {{ cheese.name }}, {{ cheese.region }}, {{ cheese.type_of_milk }} </a></li>
            {% endfor %} 
            </ul>  
        <br/>        

    {% else %}
        <p>Vous n'êtes pas connecté.e</p>
        <p>
            <a href="{% url 'login' %}">Se connecter</a>
        </p>
    {% endif %}   
    
{% endblock content %}
