{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="h-[32rem] flex items-center justify-center">
        <form method="get">
            {% csrf_token %}
            <p>Rechercher un fromage</p>
            <input type="text" name="q" placeholder="search">
            <input type="submit" value="rechercher" class="border-2 border-orange-400 rounded-lg p-1"/>
        </form> 
    </div>    
            <ul>
            {% for wine in wines %}   
                    <li><a href="{% url 'wine-product' id=wine.id %}" class="hover:underline"> {{ wine.name }}, {{ wine.appellation }}, {{ wine.color }} </a></li>
            {% endfor %} 
            </ul>  
            <br/> 
            <ul>
            {% for cheese in cheeses %}   
                    <li><a href="{% url 'cheese-product' id=cheese.id %}"class="hover:underline">  {{ cheese.name }}, {{ cheese.region }}, {{ cheese.type_of_milk }} </a></li>
            {% endfor %} 
            </ul>  
        <br/>        

    {% else %}
        <p>Vous n'êtes pas connecté.e</p>
        <p>
            <a href="{% url 'login' %}">Se connecter</a>
        </p>
    {% endif %}   
    
{% endblock content %}
