{% extends 'base.html' %}

{% block content %}
    <h1>Frometon</h1>
    {% if user.is_authenticated %}
        <br/>
        <form method="get">
            {% csrf_token %}
            <p>Rechercher un fromage</p>
            <input type="text" name="q" placeholder="search">
            <input type="submit" value="rechercher"/>
        </form> 
        
        {% if id_wine is not None %}  
            <ul>
                <li>{{ cheese.name }}</li>
                <li>{{ wine.name }}</li>
            </ul>  
                <br/>
        {% else %}
            <br/>
        {% endif %}     
        <p>
            <a href="{% url 'logout' %}">Log out</a>
        </p>
    {% else %}
        <p>Vous n'êtes pas connecté.e</p>
        <p>
            <a href="{% url 'login' %}">Login</a>
        </p>
    {% endif %}   
    
{% endblock content %}
