{% extends 'base.html' %}
{% block content %}
    <!-- novalidate permet d'empêcher la validation automatique du navigateur et forcer celle de Django  -->
    <form method="post" novalidate>
        <!-- template de protection contre les injection de code malaicieux à travers le bouton d'un formulaire ou du javascript -->
        {% csrf_token %}
        <h2>Login</h2>
        {% if messages %}
            {% for message in messages %}
                <h4>{{ message }}</h4>
            {% endfor %}
        {% endif %}    
        <!-- le formulaire Django est affiché comme des paragraphes HTML avec les balises <p> -->
        {{ form.as_p }}
        <input type="submit" value="Se connecter"/>
    </form>
    <a href="http://127.0.0.1:8000/register">
        <input type="submit" value="S'inscrire" />
    </a>
{% endblock content %}
