{% extends 'base.html' %}
{% block content %}
<h2 class="text-lg font-semibold mb-4 ml-6">Mon profil</h2>
<div class="grid grid-cols-2 gap-4 mb-8">
    <div class="text-normal leading-8 ml-6 h-4/5 w-6/12 p-4 border-2 rounded-lg border-slate-500 shadow-[6px_6px_rgba(0,_98,_90,_0.4)] inset-shadow-lg">
        <p>nom d'utilisateur.rice : <span class="font-semibold">{{ username }}</span></p>
        <p>email : <span class="font-semibold">{{ email }}</span></p>
    </div>
    <div class="grid grid-rows-2 gap-4">
        <a href="{% url 'edit-profile' id=id %}"><button>Modifier mon profil</button></a> 
        <a href="{% url 'edit-password' id=id %}"><button>Modifier mon mot de passe</button></a> 
        <a href="{% url 'logout' %}"><button>Se déconnecter</button></a>
    </div>
</div>
{% endblock content %}
