{% extends 'base.html' %}
{% block content %}
<h2 class="text-lg font-semibold mb-4 ml-6">Mon profil</h2>
<div class="grid grid-cols-2 gap-4 mb-8">
    <div class="text-normal leading-8 ml-6">
        <p>nom d'utilisateur.rice : {{ username }}</p>
        <p>email : {{ email }}</p>
    </div>
    <div class="grid grid-rows-2 gap-4">
        <a href="{% url 'edit-profile' id=id %}"><button class="border-2 border-orange-400 bg-gradient-to-br from-pink-500 to-orange-400 rounded-lg p-1 px-2">Modifier mon profil</button></a> 
        <a href="{% url 'edit-password' id=id %}"><button class="border-2 border-orange-400 bg-gradient-to-br from-pink-500 to-orange-400 rounded-lg p-1 px-2">Modifier mon mot de passe</button></a> 
        <a href="{% url 'logout' %}"><button class="border-2 border-orange-400 bg-gradient-to-br from-pink-500 to-orange-400 rounded-lg p-1 px-2">Se déconnecter</button></a>
    </div>
</div>

{% endblock content %}
