<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les fromages</title>
</head>
<body>
    <h1>Tous les fromages</h1>
        {% for cheese in cheeses %}
            <h3>{{ cheese.name}}</h3>
            <p>{{ cheese.family}}</p>
            <p>{{ cheese.type_of_milk}}</p>
            <p>{{ cheese.region }}</p>
            <p>{{ cheese.description }}</p>
            <br/>
        {% endfor %}
</body>
</html>
