<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les vins</title>
</head>
<body>
    <h1>Tous les vins</h1>
    <br/>
    <h2>Les vins blancs</h2>
    {% for wine in wines %}
        {% if wine.color == "Blanc" %}
            <h3>{{ wine.name }}</h3>
            <p>Appellation : {{ wine.appellation }}</p>
            <p>Domaine : {{ wine.vineyard }}</p>
            <p>Cépages : {{ wine.grape_variety }}</p>
            <p>Couleur : {{ wine.color }}</p>
            <p>Année de production : {{ wine.year }}</p>
            <p>Description : {{ wine.description }}</p>
            <br/>
        {% endif %}    
    {% endfor %}  
    <br/>
    <h2>Les vins rouges</h2>
    {% for wine in wines %}
        {% if wine.color == "Rouge" %}
            <h3>{{ wine.name }}</h3>
            <p>Appellation : {{ wine.appellation }}</p>
            <p>Domaine : {{ wine.vineyard }}</p>
            <p>Cépages : {{ wine.grape_variety }}</p>
            <p>Couleur : {{ wine.color }}</p>
            <p>Année de production : {{ wine.year }}</p>
            <p>Description : {{ wine.description }}</p>
            <br/>
        {% endif %}    
    {% endfor %}  
    <br/>
    <h2>Les vins rosés</h2>
    {% for wine in wines %}
        {% if wine.color == "Rosé" %}
            <h3>{{ wine.name }}</h3>
            <p>Appellation : {{ wine.appellation }}</p>
            <p>Domaine : {{ wine.vineyard }}</p>
            <p>Cépages : {{ wine.grape_variety }}</p>
            <p>Couleur : {{ wine.color }}</p>
            <p>Année de production : {{ wine.year }}</p>
            <p>Description : {{ wine.description }}</p>
            <br/>
        {% endif %}    
    {% endfor %}  
</body>
</html>