{% extends 'base.html' %}
{% block content %}
    <h1>{{ product_object.name }}</h1>
    <h2>{{ product_object.family }}</h2>
    <p>{{ product_object.region }}</p>
    <p>{{ product_object.description }}</p>
    <br/>
    <!-- envoi de l'id du product via un formulaire -->
    <form action="{% url 'pairing' %}" method="get">
        <input type="hidden" name="product_id" value="{{ product_object.id }}">
        <button type="submit">Trouver un accord</button>
    </form>

{% endblock content %}
