{% extends 'base.html' %}
    {% block content %}
        <h2 class="font-semibold text-xl">Fromage au lait de vache pasteurisé</h2>
        {% for cheese in cheeses %}
            {% if cheese.type_of_milk == "Vache pasteurisé" %}
                <h3 class="font-semibold">{{ cheese.name }}</h3>
                <p>{{ cheese.family }}</p>
                <p>{{ cheese.type_of_milk }}</p>
                <p>{{ cheese.region }}</p>
                <p>{{ cheese.description }}</p>
                <br />
            {% endif %}  
        {% endfor %}      
    {% endblock content %}
