{% extends 'base.html' %}

    {% block content %}
        <h2 class="font-semibold text-xl">Les vins rouges</h2>
        {% for wine in wines %}
            {% if wine.color == "Rouge" %}
                <h3 class="font-semibold">{{ wine.name }}</h3>
                <p>Appellation : {{ wine.appellation }}</p>
                <p>Domaine : {{ wine.vineyard }}</p>
                <p>Cépages : {{ wine.grape_variety }}</p>
                <p>Couleur : {{ wine.color }}</p>
                <p>Année de production : {{ wine.year }}</p>
                <p>Description : {{ wine.description }}</p>
                <br />
            {% endif %}
        {% endfor %}
    {% endblock content %}    