<!-- indication à VSCode qu'il s'agit bien d'un fichier Django HTML -->
{# django #}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block head %}<title>Frometon</title>{% endblock %}
        {% tailwind_css %}
    </head>
    <body class="font-FF bg-white">
        <nav class="flex flex-row justify-evenly mb-5 mt-3 text-stone-950 text-lg text-center font-medium font-FF">
            <a href="{% url 'home' %}" class="hover:underline hover:text-stone-600">Home</a>
                <a href="{% url 'profile' id=request.user.id %}" class="hover:underline hover:text-stone-600">Profil</a>
                <a href="{% url 'favourites' id=request.user.id %}" class="hover:underline hover:text-stone-600">Favoris</a>
                <select class="bg-gray-50 rounded-md border border-slate-800" onchange="location = this.value;">
                    <option>Fromages</option>
                    <option value="{% url 'all-cheeses' %}">Tous les fromages</option>
                    <option value="{% url 'raw-cow-cheeses' %}">Lait de vache cru</option>
                    <option value="{% url 'pasteurised-cow-cheeses' %}">Lait de vache pasteurisé</option>
                    <option value="{% url 'raw-goat-cheeses' %}">Lait de chèvre cru</option>
                    <option value="{% url 'raw-sheep-cheeses' %}">Lait de brebis cru</option>
                </select>
                <select class="bg-gray-50 rounded-md border border-slate-800" onchange="location = this.value;">
                    <option>Vins</option> 
                    <option value="{% url 'all-wines' %}">Tous les vins</option>
                    <option value="{% url 'white-wines' %}">Vins blancs</option>
                    <option value="{% url 'red-wines' %}">Vins rouges</option>
                    <option value="{% url 'rose-wines' %}">Vins rosés</option>
                </select>          
          </nav>
          <br/>
        {% block body %}
            {% block content %}
            {% endblock %}
        {% endblock %}
    </body>
</html>
