<!-- indication à VSCode qu'il s'agit bien d'un fichier Django HTML -->
{# django #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block head %}<title>Frometon</title>{% endblock %}
    </head>
    <body>
        <nav class="menu">
            <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'profile' id=request.user.id %}">Profil</a>
                <a href="{% url 'all-cheeses' %}">Fromages</a>
                <div>
                    {% for category in cheese_categories %}
                    <a href="#">{{ category }}</a>
                    {% endfor %}
                </div>
                <a href="{% url 'all-wines' %}">Vins</a>
                <div>
                    {% for category in wine_categories %}
                    <a href="#">{{ category }}</a>
                    {% endfor %}
                </div>   
          </nav>
        {% block body %}
            {% block content %}{% endblock %}
        {% endblock %}
    </body>
</html>
